<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Gem Name</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <% @gems.each do |gem| %>
    <tr>
      <td><%= gem[:name] %></td>
      <td><%= gem[:version] %></td>
    </tr>
    <% end %>
  </tbody>
</table>