<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Directions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td><%= recipe.directions %></td>
       <td><%= link_to 'Show', user_recipe_path(id: recipe) %></td>
        <td><%= link_to 'Edit', edit_user_recipe_path(id: recipe) %></td>
        <td><%= link_to 'Destroy', user_recipe_path(id: recipe), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New recipe', new_user_recipe_path %>
