<%= form_for(recipes_ingredient) do |f| %>
  <% if recipes_ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipes_ingredient.errors.count, "error") %> prohibited this recipes_ingredient from being saved:</h2>

      <ul>
      <% recipes_ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :recipe_id %>
    <%= f.number_field :recipe_id %>
  </div>

  <div class="field">
    <%= f.label :ingredient_id %>
    <%= f.number_field :ingredient_id %>
  </div>

  <div class="field">
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
  </div>

  <div class="field">
    <%= f.label :unit %>
    <%= f.text_field :unit %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
