<p id="notice"><%= notice %></p>

<h1>Recipes Ingredients</h1>

<table>
  <thead>
    <tr>
      <th>Recipe</th>
      <th>Ingredient</th>
      <th>Quantity</th>
      <th>Unit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes_ingredients.each do |recipes_ingredient| %>
      <tr>
        <td><%= recipes_ingredient.recipe_id %></td>
        <td><%= recipes_ingredient.ingredient_id %></td>
        <td><%= recipes_ingredient.quantity %></td>
        <td><%= recipes_ingredient.unit %></td>
        <td><%= link_to 'Show', recipes_ingredient %></td>
        <td><%= link_to 'Edit', edit_recipes_ingredient_path(recipes_ingredient) %></td>
        <td><%= link_to 'Destroy', recipes_ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipes Ingredient', new_recipes_ingredient_path %>
