<p id="notice"><%= notice %></p>

<p>
  <strong>Recipe:</strong>
  <%= @recipes_ingredient.recipe_id %>
</p>

<p>
  <strong>Ingredient:</strong>
  <%= @recipes_ingredient.ingredient_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @recipes_ingredient.quantity %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @recipes_ingredient.unit %>
</p>

<%= link_to 'Edit', edit_recipes_ingredient_path(@recipes_ingredient) %> |
<%= link_to 'Back', recipes_ingredients_path %>
